table {
    width: 60%;
    border-collapse: collapse;
    margin: 20px auto;
    font-family: Arial, sans-serif;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
}


th, td {
    border: 1px solid #444;
    padding: 10px;
    text-align: center;
}


th {
    background-color: #ff7f50;
    color: white;
}


tr:hover {
    background-color: #ffe4b5;
    cursor: pointer;
}